.Tile {
    width: 200px;
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Tile>div {
    margin: 5px 0;
}

.Tile--Date {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.Tile--Icon {
    width: 100px;
    height: 100px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tile--MinMax,
.Tile--GenEnergy {
    font-size: 16px;
}